
body {
    font-family: sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 5px dotted black;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 102, 136);
    padding: 5px;
    border-radius: 5px;
}

nav{
    margin-top: 15px;
}


h1{
    color: rgb(61, 102, 136);
    text-align: center;
    font-size: 50px;
}

footer{
    background-color: rgb(61, 102, 136
    );
}




